.mbase_book_doc3 li.expanded > a > .toc_arrow {
    transform: rotate(-90deg);
}
.doc3_toc_book li.expanded > a > .toc_arrow {
    transform: rotate(-90deg);
}

.mbase_book_doc3{
    padding-left: 20px !important;
}